body .font1 {
    font-family: tahoma;
    font-weight: bold;
    font-size: 10vw; 
    color: #000000; 
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

body .font1 .page-not-found {
    font-size: 2rem; 
    color: #000000; 
    margin-top: 10px; 
}