

footer .thanh-tren {
    width: 100%; 
    height: 12vh; 
    background-color: #005284;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
}

.thanh-tren .user-avt {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #005284;
    font-size: 18px; 
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.box1 {
    width: 20%; 
    height: 30%;
    position: relative;
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
    top: 50%;
    left: 1%;
}

.box2 {
    
    position: relative;
    width: 70%;
    color: white;
    font-family: tahoma;
    position: relative; top:30%; left: 15%;
    display: flex;
}

.box2 .box2_1 {
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    text-align: center;
    font-size: clamp(10px, 2vw, 20px);
    overflow: hidden;
    white-space: nowrap;

}


.chu-chinh {
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw; 
}

.thanh-tren .box1 .user-info {
    color: #ffffff; 
    font-size: 1.2rem; 
    font-weight: bold;
    margin-left: 10px; 
    display: flex;
    align-items: center; 
    max-width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-family: tahoma;
}
@media (max-width: 1000px) {
    .thanh-tren .user-avt {
        display: none;
    }

    .thanh-tren .box1 .user-info {
        font-size: 1rem;
    }
}

@media (min-width: 15001px) {
    .thanh-tren .user-avt {
        display: flex;
    }

    .thanh-tren .box1 .user-info {
        font-size: 1.2rem;
    }
}
.box1 .user-avt .picture1{
    width: 100.5%;
    height: 100.5%;
    align-items: center;
    justify-content: center;
}
.box3 {
    width: 5%;
    height: 40%;
    position: relative;
    left: 90%;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.thanh-tren .box3 .picture2 {
    width: 80%; 
    height: auto; 
}
.navbar {
    width: 100%;
    height: 27px;
    background-color: #003c5f;
    position: fixed;
    top:12%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    font-family:tahoma ;
}

.navbar a {
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a:hover {
    color: #ffd700; /* Màu khi di chuột qua */
}